<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- load lib -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <script src="/jquery/dist/jquery.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/angular/angular.min.js"></script>

  <!-- app -->
  <script src="/index.js"></script>

</head>
<body ng-controller="MyController as myController">

<div class="container">
      <form name="feedbackForm" novalidate XXXXX>
      
      <h2>Feedback Form</h2>
    
        <div class="form-group row">
          <label for="name" class="col-md-2">Name:</label>
          <div class="col-md-10">
            <input type="text" id="name" class="form-control" ng-model="myController.name">
          </div>
        </div>

        <div class="form-group row">
          <label for="email" class="col-md-2">Email:</label>
          <div class="col-md-10">
            <input type="email" id="email" class="form-control" ng-model="myController.email">
          </div>
        </div>

        <div class="form-group row">
          <label for="phone" class="col-md-2">Phone:</label>
          <div class="col-md-10">
            <input type="tel" id="phone" class="form-control" ng-model="myController.phone">
          </div>
        </div>

        <div class="form-group row">
          <label for="comment" class="col-md-2">Comment:</label>
          <div class="col-md-10">
            <textarea name="comment" id="comment" cols="30" rows="5" class="form-control" ng-model="myController.comment"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="" class="col-md-2">Experience:</label>
          <div class="col-md-10">
            <input type="radio" value="good" name="good" id="good" ng-model="myController.exp"> Good</br>
            <input type="radio" value="neutral" name="neutral" id="neutral" ng-model="myController.exp"> Neutral</br>
            <input type="radio" value="bad" name="bad" id="bad" ng-model="myController.exp"> Bad</br>
          </div>
        </div>
        
        <button class="btn btn-success">Submit</button>
        <button class="btn btn-danger" ng-click="myController.clearForm()">Clear</button></br>

      </form>

    <!-- test area -->
    </br></br>
    <h2>Test Output</h2>
    Your name is {{ myController.name }}, your email is {{ myController.email }}.</br>
    Your phone is {{ myController.phone }}, your comment is {{ myController.comment }}.</br>
    Your experience is {{ myController.exp }}.

</div><!-- container -->

</body>
</html>